<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>

  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*" Name="$(var.Company) $(var.ProductName)" Version="$(var.Version)" Manufacturer="Couchbase Inc."
      UpgradeCode="01510917-D2BC-91D4-FD65-4743E498A007"
      Language="1033" Codepage="1252">

    <Package Id="*" Keywords="Installer" Description="$(var.Company) $(var.ProductName) $(var.Version) Installer"
        Comments="Couchbase is a registered trademark of Couchbase Inc."
        Manufacturer="Couchbase Inc."
        Platform="x64"
        InstallerVersion="500" Languages="1033" Compressed="yes" SummaryCodepage="1252"/>

    <MediaTemplate EmbedCab="yes"/>

    <!-- Search for ucrtbase.dll to identify whether Universal CRT is on target -->
    <Property Id="UCRT32EXISTS">
      <DirectorySearch Id="CheckUcrt32Dir" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="CheckUcrt32" Name="ucrtbase.dll"/>
      </DirectorySearch>
    </Property>
    <Property Id="UCRT64EXISTS">
      <DirectorySearch Id="CheckUcrt64Dir" Path="[System64Folder]" Depth="0">
        <FileSearch Id="CheckUcrt64" Name="ucrtbase.dll"/>
      </DirectorySearch>
    </Property>
    <Condition Message="To install Couchbase Server, the Microsoft Universal C Runtime must be installed. This is delivered by Microsoft via Windows Update. Please ensure your system is up to date. For more detailed installation instructions, see http://bitly.com/2j8mZtT .">UCRT32EXISTS OR UCRT64EXISTS</Condition>

    <!-- Property for selecting IPv6 or not -->
    <Property Id="USE_IPV6" Value="false" Admin="yes" Secure="yes"/>

    <MajorUpgrade Schedule="afterInstallExecute"
        DowngradeErrorMessage="A later version of $(var.Company) $(var.ProductName) is already installed. Setup will now exit."/>

    <!-- Directory layout -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="$(var.Company)" Name="$(var.Company)">
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <!-- Contents of this directory generated by heat in Files.wxs -->
            <!-- Also create explicit directory for bin for installer-util -->
            <Directory Id="BINDIR" Name="bin"/>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
      <Merge Id="VCRedist_140" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC140_CRT_x64.msm" DiskId="1" Language="0"/>
      <Merge Id="VCRedist_120" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC120_CRT_x64.msm" DiskId="1" Language="0"/>
      <Merge Id="VCRedist_100" SourceFile="$(env.CommonProgramFiles(x86))\Merge Modules\Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0"/>
    </Directory>

    <Feature Id="Complete" Level="1" Title="Couchbase Server" Description="The Complete Package."
        ConfigurableDirectory="INSTALLDIR">
      <!-- All component files from Files.wxs -->
      <ComponentGroupRef Id="CouchbaseServer"/>
      <!-- All component files from Util.wxs -->
      <ComponentGroupRef Id="InstallerUtil"/>
      <!-- Desktop shortcut -->
      <ComponentRef Id="Shortcuts"/>
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ Runtimes" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist_140"/>
      <MergeRef Id="VCRedist_120"/>
      <MergeRef Id="VCRedist_100"/>
    </Feature>

    <SetProperty Id="CONSOLEURL" Action="SETCONSOLEURL4" Value="http://localhost:8091/" Sequence="ui" After="CostFinalize">USE_IPV6="false"</SetProperty>
    <!-- This URL should be http://[::1]:8091/ for IPv6, but Windows Installer escaping is extra-ugly -->
    <SetProperty Id="CONSOLEURL" Action="SETCONSOLEURL6" Value="http://[\[]::1[\]]:8091/" Sequence="ui" After="CostFinalize">USE_IPV6="true"</SetProperty>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="Shortcuts" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\$(var.Company)\$(var.ProductName)" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="ConsoleShortcut"
          Name="$(var.Company) $(var.ProductName) Console"
          Description="Where is this description"
          Target="[CONSOLEURL]"
          Icon="CouchbaseIcon"/>
      </Component>
    </DirectoryRef>

    <!-- Custom action to fix up config files based on installation dir -->
    <!-- See installer-util.py for explanation of the FOO here -->
    <SetProperty Id="FixConfig" Value="&quot;[INSTALLDIR]bin\installer-util.exe&quot; &quot;[INSTALLDIR]FOO&quot; fixpaths" Before="FixConfig" Sequence="execute"/>
    <CustomAction Id="FixConfig" Execute="deferred" BinaryKey="WixCA" DllEntry="WixQuietExec64" Return="check" Impersonate="no"/>

    <!-- Custom action to backup var dir -->
    <SetProperty Id="BackupVar" Value="&quot;[INSTALLDIR]bin\installer-util.exe&quot; &quot;[INSTALLDIR]FOO&quot; backup-var" Before="BackupVar" Sequence="execute"/>
    <CustomAction Id="BackupVar" Execute="deferred" BinaryKey="WixCA" DllEntry="WixQuietExec64" Return="check" Impersonate="no"/>

    <!-- Custom action to configure service-register script from template -->
    <!-- See installer-util.py for explanation of the FOO here -->
    <SetProperty Id="CreateRegisterScript" Value="&quot;[INSTALLDIR]bin\installer-util.exe&quot; &quot;[INSTALLDIR]FOO&quot; createregisterscript [USE_IPV6]" Before="CreateRegisterScript" Sequence="execute"/>
    <CustomAction Id="CreateRegisterScript" Execute="deferred" BinaryKey="WixCA" DllEntry="WixQuietExec64" Return="check" Impersonate="no"/>

    <InstallExecuteSequence>
      <!-- Actions to do when REMOVE set, ie. Uninstall or Major Upgrade -->

      <!-- Actions to do on uninstall ONLY (not upgrade, not repair) -->
      <Custom Action="BackupVar" Before="RemoveFiles">REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE</Custom>

      <!-- Actions to do when not installed, ie. fresh Install or Major Upgrade -->

      <!-- Fix Config files -->
      <Custom Action="FixConfig" After="InstallFiles">NOT Installed</Custom>

      <!-- Create register-service script from template -->
      <Custom Action="CreateRegisterScript" After="FixConfig">NOT Installed</Custom>

    </InstallExecuteSequence>

    <!-- User Interface stuff below -->

    <!-- Icon for Add/Remove dialog -->
    <Icon Id="CouchbaseIcon" SourceFile="$(sys.CURRENTDIR)\assets\couchbase.ico"/>
    <Property Id="ARPPRODUCTICON" Value="CouchbaseIcon" />
    <Property Id="ARPURLINFOABOUT" Value="http://www.couchbase.com/"/>

    <!-- Graphics for installer itself -->
    <WixVariable Id="WixUIDialogBmp" Value="$(sys.CURRENTDIR)\assets\cb_installer_bg.jpg"/>

    <!-- Specify which property should be modifiable by the user in UI -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>

    <!-- Finally load our custom UI sequence -->
    <UIRef Id="Couchbase_UISequence"/>


  </Product>
</Wix>